# .gitignore
__pycache__/
.ipynb_checkpoints/
.DS_Store

# Raw data - ignore extracted files, keep ZIP
data/raw/*.ASC
data/raw/*.asc
!data/raw/*.zip
echo "data/raw/metadata_Instance_events_v3.csv.bz2" >> .gitignore

*.egg-info/
data/Crust1.0/
data/raw/metadata_Instance_events_v3.csv.bz2
